<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">
        Everywhere is good, but the best is waiting for you here.
      </h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Seach for your dream apartment
      </p>
    </div>

    <!-- Seach Component -->
    <app-search></app-search>
  </div>
</header>
<div class="container px-lg-5 mt-4 align-items-end">
  <div class="d-flex flex-row justify-content-end p-1" style="gap: 10px">
    <select
      #sortInput
      class="form-select mr-5"
      aria-label="Default select example"
      style="width: 200px"
      (change)="sortProperties(sortInput.value)"
    >
      <option selected>Sort by</option>
      <option value="asc">Price ascending</option>
      <option value="desc">Price Descending</option>
    </select>

    <select
      class="form-select"
      aria-label="Default select example"
      style="width: 150px"
    >
      <option selected>Page size</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="5">30</option>
      <option value="10">50</option>
    </select>
  </div>
</div>

<!-- Main section -->
<section class="py-5">
  <div class="container px-4 px-lg-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <div class="col mb-5" *ngFor="let tempProperty of properties">
        <div class="card h-100">
          <!-- Property image-->
          <img
            class="card-img-top"
            src="../assets/images/properties/{{ tempProperty.imageUrl }}"
            alt="..."
          />
          <!-- Property details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Property price -->
              <h5 class="fw-bolder">
                {{ tempProperty.price | currency: "FT" }}
              </h5>
              <!-- Property Address -->
              <p class="font-weight-light">{{ tempProperty.address }}</p>
              <p class="font-weight-light">
                {{ tempProperty.district }}. district
              </p>
              <!-- Property area-->
              {{ tempProperty.area }} &#x33A1;
            </div>
          </div>
          <!-- Property actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a
                routerLink="/properties/{{ tempProperty.id }}"
                class="btn btn-outline-dark mt-auto"
                >View details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- if there are no properties to display-->

    <!-- Pagination -->

    <div class="footer-pagination" *ngIf="properties?.length > 0">
      <div class="row">
        <div class="col-md-6"></div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-9">
              <ngb-pagination
                [(page)]="thePageNumber"
                [pageSize]="thePageSize"
                [collectionSize]="theTotalElements"
                (pageChange)="listProperties()"
                size="lg"
              >
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="properties?.length == 0"
      class="alert alert-dark col-md-12"
      role="alert"
    >
      No property listings found.
    </div>
  </div>
</section>
