<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">
        Everywhere is good, but the best is waiting for you here.
      </h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Seach for your dream apartment
      </p>
    </div>

    <!--Input field for search-->
    <div class="container mt-3">
      <div class="row justify-content-center">
        <div class="col-2">
          <select
            class="form-select scrollable-menu"
            aria-label="Default select example"
          >
            <option selected disabled>District</option>
            <option value="0">All</option>
            <option value="1">I.</option>
            <option value="2">II.</option>
            <option value="3">III.</option>
            <option value="4">IV.</option>
            <option value="5">V.</option>
            <option value="6">VI.</option>
            <option value="7">VII.</option>
            <option value="8">VIII.</option>
            <option value="9">IX.</option>
            <option value="10">X.</option>
            <option value="11">XI.</option>
            <option value="12">XII.</option>
            <option value="13">XIII.</option>
            <option value="14">XIV.</option>
            <option value="15">XV.</option>
            <option value="16">XVI.</option>
            <option value="17">XVII.</option>
            <option value="18">XVIII.</option>
            <option value="19">XIX.</option>
            <option value="20">XX.</option>
            <option value="21">XXI.</option>
            <option value="22">XXII.</option>
            <option value="23">XXIII.</option>
          </select>
        </div>
        <!----------------------->
        <div class="col-6">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Address"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">
                Seach
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main section -->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <div class="col mb-5" *ngFor="let tempProperty of properties">
        <div class="card h-100">
          <!-- Property image-->
          <img
            class="card-img-top"
            src="../assets/images/properties/{{ tempProperty.imageUrl }}"
            alt="..."
          />
          <!-- Property details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Property price -->
              <h5 class="fw-bolder">
                {{ tempProperty.price | currency: "FT" }}
              </h5>
              <!-- Property Address -->
              <p class="font-weight-light">{{ tempProperty.address }}</p>
              <!-- Property area-->
              {{ tempProperty.area }} &#x33A1;
            </div>
          </div>
          <!-- Property actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a
                routerLink="/properties/{{ tempProperty.id }}"
                class="btn btn-outline-dark mt-auto"
                >View details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
