<div class="container px-4 px-lg-5 mt-5 mb-5">
  <div class="card mb-4">
    <div class="card-header">Get Notified!</div>
    <div class="card-body">
      <h5 class="card-title">
        Subscribe to get the latest aperment listings in you choosen area.
      </h5>
      <p class="card-text">
        Ide madj valamit írok, amikor ki találom mit lehetne ide írni.
      </p>
      <div class="row">
        <div class="col-2">
          <select
            class="form-select scrollable-menu"
            aria-label="Default select example"
          >
            <option selected disabled>District</option>
            <option value="1">I.</option>
            <option value="2">II.</option>
            <option value="3">III.</option>
            <option value="4">IV.</option>
            <option value="5">V.</option>
            <option value="6">VI.</option>
            <option value="7">VII.</option>
            <option value="8">VIII.</option>
            <option value="9">IX.</option>
            <option value="10">X.</option>
            <option value="11">XI.</option>
            <option value="12">XII.</option>
            <option value="13">XIII.</option>
            <option value="14">XIV.</option>
            <option value="15">XV.</option>
            <option value="16">XVI.</option>
            <option value="17">XVII.</option>
            <option value="18">XVIII.</option>
            <option value="19">XIX.</option>
            <option value="20">XX.</option>
            <option value="21">XXI.</option>
            <option value="22">XXII.</option>
            <option value="23">XXIII.</option>
          </select>
        </div>
        <!--------------------->
        <a href="#" class="btn btn-primary col-2">Subscribe</a>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Baloldal -->
    <div class="col-lg-4">
      <!-- Profil kép -->
      <div class="card mb-4">
        <div class="card-body text-center">
          <img
            src="../assets/images/profiles/ava3.png"
            alt="avatar"
            class="rounded-circle img-fluid"
            style="width: 150px"
          />
          <h5 class="my-3">{{ user.firstName }} {{ user.lastName }}</h5>
          <p class="text-muted mb-1">Roles: User</p>
          <p class="text-muted mb-4">Change your profile picture!</p>
          <div class="d-flex justify-content-center mb-2">
            <button type="button" class="btn btn-primary">Upload</button>
            <button type="button" class="btn btn-outline-primary ms-1">
              Set default
            </button>
          </div>
        </div>
      </div>

      <!--Social links
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
          <ul class="list-group list-group-flush rounded-3">
            <li
              class="list-group-item d-flex justify-content-between align-items-center p-3"
            >
              <i class="fas fa-globe fa-lg text-warning"></i>
              <p class="mb-0">https://mdbootstrap.com</p>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center p-3"
            >
              <i class="fab fa-github fa-lg" style="color: #333333"></i>
              <p class="mb-0">mdbootstrap</p>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center p-3"
            >
              <i class="fab fa-twitter fa-lg" style="color: #55acee"></i>
              <p class="mb-0">@mdbootstrap</p>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center p-3"
            >
              <i class="fab fa-instagram fa-lg" style="color: #ac2bac"></i>
              <p class="mb-0">mdbootstrap</p>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center p-3"
            >
              <i class="fab fa-facebook-f fa-lg" style="color: #3b5998"></i>
              <p class="mb-0">mdbootstrap</p>
            </li>
          </ul>
        </div>
      </div>-->
    </div>
    <!--Jobb oldal-->
    <div class="col-lg-8">
      <!-- Felhasználói adatok -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">First name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">
                {{ user.firstName }}
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Last name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ user.lastName }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Username</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ user.username }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ user.email }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Phone</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ user.phoneNumber }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Táblázatok -->

      <!-- A felhasználó ingatlajai -->
      <!--<div class="card mb-4">
        <div class="card-body">
          <p class="mb-4">Your applications</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>-->

      <!-- A felhasználó ingatla jelentkezései -->
      <div class="card mb-4" *ngIf="user.properties.length != 0">
        <div class="card-body">
          <p class="mb-4">Your properties</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Address</th>
                <th scope="col">Area</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tempProperty of user.properties">
                <th class="align-middle" scope="row">1</th>
                <td class="align-middle">
                  <a
                    routerLink="/properties/{{ tempProperty.id }}"
                    class="nav-link active"
                    aria-current="page"
                    >{{ tempProperty.address }}</a
                  >
                </td>
                <td class="align-middle">{{ tempProperty.area }} &#x33A1;</td>
                <td class="align-middle">
                  {{ tempProperty.price | currency: "FT" }}
                </td>
                <td class="align-middle">
                  <img
                    src="../assets/images/delete.png"
                    alt="delete"
                    width="20px"
                    (click)="deleteProperty(tempProperty.id)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Két kis section, ami majd jól jöhet a későbbiekben -->
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
              <h5 class="card-title">Change username</h5>
              <form>
                <div class="form-group mb-3">
                  <label for="exampleInputEmail1">New Username</label>
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                </div>
                <div class="form-group mb-3">
                  <label for="exampleInputPassword1">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    placeholder="Password"
                  />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
              <h5 class="card-title">Change password</h5>
              <form>
                <div class="form-group mb-3">
                  <label for="exampleInputEmail1">New Password</label>
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                </div>
                <div class="form-group mb-3">
                  <label for="exampleInputPassword1">Old Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    placeholder="Password"
                  />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <!--
        <div class="col-md-6">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
              <p class="mb-4">
                <span class="text-primary font-italic me-1">assigment</span>
                Project Status
              </p>
              <p class="mb-1" style="font-size: 0.77rem">Web Design</p>
              <div class="progress rounded" style="height: 5px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: 0.77rem">Website Markup</p>
              <div class="progress rounded" style="height: 5px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 72%"
                  aria-valuenow="72"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: 0.77rem">One Page</p>
              <div class="progress rounded" style="height: 5px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 89%"
                  aria-valuenow="89"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: 0.77rem">
                Mobile Template
              </p>
              <div class="progress rounded" style="height: 5px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 55%"
                  aria-valuenow="55"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: 0.77rem">Backend API</p>
              <div class="progress rounded mb-2" style="height: 5px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 66%"
                  aria-valuenow="66"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
              <p class="mb-4">
                <span class="text-primary font-italic me-1">assigment</span>
                Project Status
              </p>
              <p class="mb-1" style="font-size: 0.77rem">Web Design</p>
              <div class="progress rounded" style="height: 5px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: 0.77rem">Website Markup</p>
              <div class="progress rounded" style="height: 5px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 72%"
                  aria-valuenow="72"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: 0.77rem">One Page</p>
              <div class="progress rounded" style="height: 5px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 89%"
                  aria-valuenow="89"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: 0.77rem">
                Mobile Template
              </p>
              <div class="progress rounded" style="height: 5px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 55%"
                  aria-valuenow="55"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="mt-4 mb-1" style="font-size: 0.77rem">Backend API</p>
              <div class="progress rounded mb-2" style="height: 5px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 66%"
                  aria-valuenow="66"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>

  <div class="card mb-4 mt-4">
    <div class="card-header">Account deletion</div>
    <div class="card-body">
      <h5 class="card-title">
        Please note that the deletion of your account is irreversable.
      </h5>
      <a (click)="deleteAccount(user.id)" class="btn btn-danger"
        >Delete Account</a
      >
    </div>
  </div>

  <!--
<div class="container" *ngIf="currentUser; else loggedOut"></div>
<ng-template #loggedOu  t>
  <div class="container mt-5 mb-5">
    <div class="alert alert-danger" role="alert">Please login.</div>
  </div>
</ng-template>
--></div>
