<div class="container px-4 px-lg-5 mt-5 mb-5">
  <div class="card">
    <div class="card-header">Get Notified!</div>
    <div class="card-body">
      <h5 class="card-title">
        Subscribe to get the latest aperment listings in you choosen area.
      </h5>
      <p class="card-text">
        Ide madj valamit írok, amikor ki találom mit lehetne ide írni.
      </p>
      <div class="row">
        <div class="col-2">
          <select
            class="form-select scrollable-menu"
            aria-label="Default select example"
          >
            <option selected disabled>District</option>
            <option value="1">I.</option>
            <option value="2">II.</option>
            <option value="3">III.</option>
            <option value="4">IV.</option>
            <option value="5">V.</option>
            <option value="6">VI.</option>
            <option value="7">VII.</option>
            <option value="8">VIII.</option>
            <option value="9">IX.</option>
            <option value="10">X.</option>
            <option value="11">XI.</option>
            <option value="12">XII.</option>
            <option value="13">XIII.</option>
            <option value="14">XIV.</option>
            <option value="15">XV.</option>
            <option value="16">XVI.</option>
            <option value="17">XVII.</option>
            <option value="18">XVIII.</option>
            <option value="19">XIX.</option>
            <option value="20">XX.</option>
            <option value="21">XXI.</option>
            <option value="22">XXII.</option>
            <option value="23">XXIII.</option>
          </select>
        </div>
        <!--------------------->
        <a href="#" class="btn btn-primary col-2">Subscribe</a>
      </div>
    </div>
  </div>
</div>

<!--
<div class="container" *ngIf="currentUser; else loggedOut"></div>
<ng-template #loggedOut>
  <div class="container mt-5 mb-5">
    <div class="alert alert-danger" role="alert">Please login.</div>
  </div>
</ng-template>
-->
