<div class="container px-4 px-lg-5">
    <form id="signupFormId" [formGroup]="signupFormGroup" (ngSubmit)="onSubmit()">
        
        <div formGroupName="signup" class="form-area">
            <h2 class="pt-5">Sign Up</h2>

            <div class="form-group pt-5">
                <label for="firstNameInput">First Name</label>
                <input formControlName="firstName" type="text" class="form-control" id="firstNameInput" placeholder="First name">
                <!--Validátorok-->
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="firstName.errors?.['required']">
                        First name is required
                    </div>
                </div>
            </div>

            <div class="form-group pt-5">
                <label for="lastNameInput">Last Name</label>
                <input formControlName="lastName" type="text" class="form-control" id="lastNameInput" placeholder="Last name">
                <!--Validátorok-->
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="lastName.errors?.['required']">
                        Last name is required
                    </div>
                </div>
            </div>

            <div class="form-group pt-5">
                <label for="emaiInput">Email:</label>
                <input formControlName="email" type="email" class="form-control" id="emaiInput" placeholder="Email">
                <!--Validátorok-->
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="email.errors?.['required']">
                        Email is required
                    </div>
                </div>
            </div>

            <div class="form-group pt-5">
                <label for="passwordInput">Password:</label>
                <input formControlName="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
                <!--Validátorok-->
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="password.errors?.['required']">
                        Password is required
                    </div>
                </div>
            </div>

            <div class="form-group pt-5">
                <label for="phoneNumberInput">Phone number:</label>
                <input formControlName="phoneNumber" type="tel" class="form-control" id="phoneNumberInput" placeholder="">
                <!--Validátorok-->
                <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="phoneNumber.errors?.['required']">
                        Phone number is required
                    </div>
                </div>
            </div>

            <div form="signupFormId" class="text-center pt-3 pb-5">
                <button type="submit" class="btn btn-info">Sign up</button>
            </div>

        </div>
    </form>
</div>