<!--Input field for search-->
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-2">
      <!--Search-->
      <select
        #searchDistrictInput
        class="form-select scrollable-menu"
        aria-label="Default select example"
      >
        <option value="0" selected disabled>District</option>

        <option *ngFor="let valami of districts" [value]="valami.district">
          {{ valami.district }}
        </option>
      </select>
    </div>
    <!----------------------->
    <div class="col-6">
      <div class="input-group">
        <input
          #searchAddressInput
          type="text"
          class="form-control"
          placeholder="Seach for addresses"
          (keyup.enter)="
            doSearch(searchAddressInput.value, searchDistrictInput.value)
          "
        />
        <div class="input-group-append">
          <button
            (click)="
              doSearch(searchAddressInput.value, searchDistrictInput.value)
            "
            class="btn btn-outline-secondary submit"
          >
            Seach
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
